@page "/admin/edit-buddy/{id:int}";

@using HSBGHelper.Server.Data
@using HSBGHelper.Server.Models;
@using HSBGHelper.Server.Services;
@using Microsoft.AspNetCore.Components;

@rendermode InteractiveServer

@inject BuddyService buddyService;
@inject NavigationManager navigationManager;

@if (buddy != null)
{
    <section>
        <header class="hero">
            <h2 class="text-2xl">Edit Buddy</h2>
            <h3 class="text-xl">@buddy.Name</h3>
        </header>
    </section>
    <section>
        <div class="container mx-auto">
            <div class="px-4 mb-4">
                <h3 class="text-2xl">Basic Info</h3>
                <hr />
                <div class="flex flex-col">
                    <div class="flex flex-col py-4">
                        <label for="edit-buddy-tier">Tier</label>
                        <select id="edit-buddy-tier" class="border rounded px-2 py-2 mb-2" @bind="@buddy.Tier">
                            @foreach (var tier in Tiers)
                            {
                                <option value="@tier">@tier</option>
                            }
                        </select>
                    </div>
                    <div class="flex flex-col">
                        <label for="edit-buddy-type">
                            Type
                        </label>
                        <select id="edit-buddy-type" value="@buddy.Type" class="border rounded px-2 py-1"
                            @onchange="async (e) => await OnTypeChange(buddy, e)">
                            <option value="">Select Type</option>
                            @foreach (var type in Types)
                            {
                                <option value="@type">@type</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mx-auto">
            <div class="px-4 mb-4">
                <h3 class="text-2xl">Guide</h3>
                <hr />
                <textarea id="edit-buddy-html" class="w-full p-4" @bind="@buddy.HtmlGuide"  />
                <button class="btn btn-primary" @onclick="handleSaveHtml">
                    Save
                </button>
            </div>
        </div>
    </section>
}
else
{
    <section>
        <header class="hero">
            <h2 class="text-2xl">Edit Buddy</h2>
            <h3 class="text-xl">Buddy not found</h3>
        </header>
    </section>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Buddy buddy { get; set; }

    private List<int> Tiers = new List<int> { 1, 2, 3, 4, 5, 6, 7 };
    private List<String> Types = new List<String> {
"Beast",
"Demon",
"Dragon",
"Elemental",
"Mech",
"Murloc",
"Naga",
"Pirate",
"Quilboar",
"Undead",
"Beast/Pirate",
"Elemental/Dragon",
"Undead/Quilboar",
"Undead/Beast",
"Neutral",
"All"
};
    protected override async void OnInitialized()
    {
        buddy = await buddyService.GetBuddyById(Id);
        if (buddy == null)
        {
            navigationManager.NavigateTo("/admin/edit-buddies");
        }
        StateHasChanged();
    }
    private async void handleSaveHtml()
    {
        await buddyService.SetBuddyHtmlGuide(buddy.Id, buddy.HtmlGuide);
    }
    private async Task OnTypeChange(Buddy buddy, ChangeEventArgs e)
    {
        buddy.Type = e.Value.ToString();
        await buddyService.SetBuddyTypeById(buddy.Id, buddy.Type);
    }
}

<style>
    #edit-buddy-html {
        min-height: 25rem;
    }
</style>