@page "/admin/edit-buddies";

@using HSBGHelper.Server.Data
@using HSBGHelper.Server.Models;
@using HSBGHelper.Server.Services;

@rendermode InteractiveServer

@inject BuddyService buddyService;

<section>
    <header class="hero">
        <h1 class="text-2xl">Edit Buddies</h1>
    </header>
</section>
<section>
    <div class="container mx-auto p-4">
        <table class="table-auto w-full shadow-lg rounded-lg text-left">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tier</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var buddy in buddies)
                {
                    <tr class="border-t border-gray-200">
                        <td class="flex justify-between	p-4">
                            <span>@buddy.Name</span> <a class="text-blue-500" href="/admin/edit-buddy/@buddy.Id">Edit</a>
                        </td>
                        <td>
                            <select value="@buddy.Tier" class="border rounded px-2 py-1" @onchange="async (e) => await OnTierChange(buddy, e)">
                                @foreach (var tier in Tiers)
                                {
                                    <option value="@tier.ToString()">@tier.ToString()</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select 
                                value="@buddy.Type" class="border rounded px-2 py-1" @onchange="async (e) => await OnTypeChange(buddy, e)">
                                <option value="">Select Type</option>
                                @foreach (var type in Types)
                                {
                                    <option value="@type">@type</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
@code {

    private List<Buddy> buddies = new List<Buddy>();
    private List<int> Tiers = new List<int> { 1, 2, 3, 4, 5, 6, 7 };

    private List<String> Types = new List<String> { 
        "Beast", 
        "Demon", 
        "Dragon", 
        "Elemental", 
        "Mech", 
        "Murloc", 
        "Naga", 
        "Pirate",
        "Quilboar",
        "Undead",
        "Beast/Pirate",
        "Elemental/Dragon",
        "Undead/Quilboar",
        "Undead/Beast",
        "Neutral",  
        "All"
    };
    protected override async Task OnInitializedAsync()
    {
        buddies = await buddyService.GetBuddies();
    }

    private async Task OnTierChange(Buddy buddy, ChangeEventArgs e)
    {
        buddy.Tier = Convert.ToInt32(e.Value.ToString());
        await buddyService.SetBuddyTierById(buddy.Id, buddy.Tier);
    }

    private async Task OnTypeChange(Buddy buddy, ChangeEventArgs e)
    {
        buddy.Type = e.Value.ToString();
        await buddyService.SetBuddyTypeById(buddy.Id, buddy.Type);
    }
}