@page "/trinkets";

@using HSBGHelper.Server.Data;
@using HSBGHelper.Server.Models;
@using HSBGHelper.Server.Services;
@using HSBGHelper.Client.Components;
@using AntDesign.Icons;

@rendermode InteractiveServer

@inject GreaterTrinketService greaterTrinketService;
@inject LesserTrinketService lesserTrinketService;

@code {
    public List<GreaterTrinket> greaterTrinkets = new List<GreaterTrinket>();
    public List<LesserTrinket> lesserTrinkets = new List<LesserTrinket>();

    public string trinketType = "greater";
    public bool Ascending = true;
    protected override async Task OnInitializedAsync()
    {
        await LoadTrinkets();
    }

    public async Task LoadTrinkets()
    {
        if (trinketType == "greater")
        {
            if (Ascending)
            {
                greaterTrinkets = await greaterTrinketService.GetTrinkets();
            }
            else
            {
                greaterTrinkets = (await greaterTrinketService.GetTrinkets()).OrderByDescending(x => x.Name).ToList();
            }
        }
        else
        {
            if (Ascending)
            {
                lesserTrinkets = await lesserTrinketService.GetTrinkets();
            }
            else
            {
                lesserTrinkets = (await lesserTrinketService.GetTrinkets()).OrderByDescending(x => x.Name).ToList();
            }
        }
    }

    public async Task HandleTrinketTypeChange(ChangeEventArgs e)
    {
        trinketType = e.Value.ToString();
        await LoadTrinkets();
    }

    public async Task HandleTrinketNameSort(ChangeEventArgs e)
    {
        if (trinketType == "greater")
        {
            if (e.Value.ToString() == "name_asc")
            {
                Ascending = true;
                greaterTrinkets = greaterTrinkets.OrderBy(x => x.Name).ToList();
            }
            else if (e.Value.ToString() == "name_desc")
            {
                Ascending = false;
                greaterTrinkets = greaterTrinkets.OrderByDescending(x => x.Name).ToList();
            }
            else if ((e.Value.ToString() == "cost_asc"))
            {
                Ascending = true;
                greaterTrinkets = greaterTrinkets.OrderBy(x => x.Cost).ToList();
            }
            else if (e.Value.ToString() == "cost_desc")
            {
                Ascending = false;
                greaterTrinkets = greaterTrinkets.OrderByDescending(x => x.Cost).ToList();
            } else {
                Ascending = true;
                greaterTrinkets = greaterTrinkets.OrderBy(x => x.Name).ToList();
            }
        }
        else
        {
            if (e.Value.ToString() == "name_asc")
            {
                Ascending = true;
                lesserTrinkets = lesserTrinkets.OrderBy(x => x.Name).ToList();
            }
            else
            {
                Ascending = false;
                lesserTrinkets = lesserTrinkets.OrderByDescending(x => x.Name).ToList();
            }
        }
    }
}

<section class="hero">
    <h3 class="text-2xl">
        Trinkets
    </h3>
</section>
<section>
    <div id="controls" class="mx-auto flex flex-col md:flex-row px-4 justify-center mb-4">
        <select name="trinket-type" id="trinkets_type" @onchange="HandleTrinketTypeChange">
            <option value="greater">Greater Trinkets</option>
            <option value="lesser">Lesser Trinkets</option>
        </select>

        <select name="trinket-sort-asc" id="trinket_sort_asc" class="mt-4 md:mt-0 md:ml-4"
            @onchange="HandleTrinketNameSort">
            <option value="name_asc">Sort Name Ascending</option>
            <option value="name_desc">Sort Name Descending</option>
            <option value="cost_asc">Cost Ascending</option>
            <option value="cost_desc">Cost Descending</option>
        </select>

    </div>
</section>
<section>
    <div class="container mx-auto">
        <ul class="trinkets m-4 minions mb-4 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5">
            @if (trinketType == "greater")
            {
                @foreach (var trinket in greaterTrinkets)
                {
                    <TrinketCard Name="@trinket.Name" Image="@trinket.Image" Id="@trinket.Id" TrinketType="greater" />
                }
            }
            else
            {
                @foreach (var trinket in lesserTrinkets)
                {
                    <TrinketCard Name="@trinket.Name" Image="@trinket.Image" Id="@trinket.Id" TrinketType="lesser" />
                }
            }
        </ul>
    </div>
</section>

<style>
    .trinkets {
        border-radius: 0.5rem;
        box-shadow: inset 1px 4px 7px #00000029;
        padding: 0.25rem;
        background-color: #ffffff47;
    }

    #trinkets_type,
    #trinket_sort_asc {
        padding: 0.25rem;
        border-radius: 0.25rem;
    }
</style>