@page "/trinkets"

@using HSBGHelper.Server.Data
@using HSBGHelper.Server.Models
@using HSBGHelper.Server.Services
@using HSBGHelper.Client.Components
@using AntDesign.Icons

@rendermode InteractiveServer

@inject GreaterTrinketService greaterTrinketService
@inject LesserTrinketService lesserTrinketService

@code {
    public List<GreaterTrinket> greaterTrinkets = new List<GreaterTrinket>();
    public List<LesserTrinket> lesserTrinkets = new List<LesserTrinket>();
    public string trinketMode = "Solo";
    public string trinketType = "greater";
    public bool Ascending = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadTrinkets();
    }

    public async Task LoadTrinkets()
    {
        if (trinketType == "greater")
        {
            greaterTrinkets = await greaterTrinketService.GetTrinkets();

            if (trinketMode == "Solo")
            {
                greaterTrinkets = greaterTrinkets.Where(x => x.IsInSolos).ToList();
            }
            else if (trinketMode == "Duos")
            {
                greaterTrinkets = greaterTrinkets.Where(x => x.IsInDuos).ToList();
            }

            if (!Ascending)
            {
                greaterTrinkets = greaterTrinkets.OrderByDescending(x => x.Name).ToList();
            }
        }
        else
        {
            lesserTrinkets = await lesserTrinketService.GetTrinkets();

            if (trinketMode == "Solo")
            {
                lesserTrinkets = lesserTrinkets.Where(x => x.IsInSolos).ToList();
            }
            else if (trinketMode == "Duos")
            {
                lesserTrinkets = lesserTrinkets.Where(x => x.IsInDuos).ToList();
            }

            if (!Ascending)
            {
                lesserTrinkets = lesserTrinkets.OrderByDescending(x => x.Name).ToList();
            }
        }
    }

    public async Task HandleTrinketTypeChange(ChangeEventArgs e)
    {
        trinketType = e.Value.ToString();
        await LoadTrinkets();
    }

    public async Task HandleTrinketModeChange(ChangeEventArgs e)
    {
        trinketMode = e.Value.ToString();
        await LoadTrinkets();
    }

    public async Task HandleTrinketNameSort(ChangeEventArgs e)
    {
        if (e.Value.ToString() == "name_asc")
        {
            Ascending = true;
        }
        else if (e.Value.ToString() == "name_desc")
        {
            Ascending = false;
        }
        else if (e.Value.ToString() == "cost_asc")
        {
            Ascending = true;
            if (trinketType == "greater")
            {
                greaterTrinkets = greaterTrinkets.OrderBy(x => x.Cost).ToList();
            }
            else
            {
                lesserTrinkets = lesserTrinkets.OrderBy(x => x.Cost).ToList();
            }
        }
        else if (e.Value.ToString() == "cost_desc")
        {
            Ascending = false;
            if (trinketType == "greater")
            {
                greaterTrinkets = greaterTrinkets.OrderByDescending(x => x.Cost).ToList();
            }
            else
            {
                lesserTrinkets = lesserTrinkets.OrderByDescending(x => x.Cost).ToList();
            }
        }
        await LoadTrinkets();
    }
}

<section class="hero">
    <h3 class="text-2xl">
        Trinkets
    </h3>
</section>
<section>
    <div id="controls" class="mx-auto flex flex-col md:flex-row px-4 justify-center mb-4">
        <select name="trinket-type" id="trinkets_type" @onchange="HandleTrinketTypeChange">
            <option value="greater">Greater Trinkets</option>
            <option value="lesser">Lesser Trinkets</option>
        </select>

        <select name="trinket-mode" id="trinket_mode" class="mt-4 md:mt-0 md:ml-4" @onchange="HandleTrinketModeChange">
            <option value="Solo">Solo Mode</option>
            <option value="Duos">Duos Mode</option>
        </select>

        <select name="trinket-sort-asc" id="trinket_sort_asc" class="mt-4 md:mt-0 md:ml-4" @onchange="HandleTrinketNameSort">
            <option value="name_asc">Sort Name Ascending</option>
            <option value="name_desc">Sort Name Descending</option>
            <option value="cost_asc">Cost Ascending</option>
            <option value="cost_desc">Cost Descending</option>
        </select>
    </div>
</section>
<section>
    <div class="container mx-auto">
        <ul class="trinkets m-4 minions mb-4 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6">
            @if (trinketType == "greater")
            {
                @foreach (var trinket in greaterTrinkets)
                {
                    <TrinketCard Name="@trinket.Name" Image="@trinket.Image" Id="@trinket.Id" TrinketType="greater" />
                }
            }
            else
            {
                @foreach (var trinket in lesserTrinkets)
                {
                    <TrinketCard Name="@trinket.Name" Image="@trinket.Image" Id="@trinket.Id" TrinketType="lesser" />
                }
            }
        </ul>
    </div>
</section>

<style>
    .trinkets {
        border-radius: 0.5rem;
        box-shadow: inset 1px 4px 7px #00000029;
        padding: 0.25rem;
        background-color: #ffffff47;
    }

    #trinkets_type,
    #trinket_sort_asc,
    #trinket_mode {
        padding: 0.25rem;
        border-radius: 0.25rem;
    }
</style>
