@page "/spells"

@using HSBGHelper.Server.Data
@using HSBGHelper.Server.Models
@using HSBGHelper.Server.Services
@using HSBGHelper.Client.Components
@using System.Collections.Generic
@using AntDesign.Icons

@rendermode InteractiveServer

@inject SpellService spellService

<section>
    <header class="hero">
        <h3 class="text-3xl">Spells (@filteredSpells.Count)</h3>
    </header>
</section>
<section>
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row item-center justify-start lg:justify-between">
            <div class="flex flex-col md:flex-row">
                <div class="max-w-full px-4">
                    <input id="search_spell" type="search" class="block w-full md:w-fit mb-4 md:max-w-60 mx-auto"
                        placeholder="Search" @oninput="HandleSearchInput" />
                </div>
                <div class="flex flex-col px-4 items-center">
                    <div class="flex items-center w-full">
                        <select id="mode_filter" @onchange="OnModeChange" class="w-full md:w-fit mb-4">
                            <option value="Solo">Solo</option>
                            <option value="Duos">Duos</option>
                            <option value="Both">Both</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="controls" class="flex flex-col md:flex-row px-4 justify-end items-center w-full">
                <ul class="tiers flex flex-row justify-between mb-4">
                    @foreach (var tier in tiers)
                    {
                        <li class="flex align-center justify-center tier @(tier == selectedTier ? "selected" : "")"
                            @onclick="() => HandleTierClick(tier)">
                            <span>@tier</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mx-auto">
        <ul class="spells mb-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
            @foreach (var spell in filteredSpells)
            {
                <SpellCard Name="@spell.Name" Image="@spell.Image" Id="@spell.Id" />
            }
        </ul>
    </div>
</section>


@code {
    private List<Spell> spells = new List<Spell>();
    private List<Spell> filteredSpells = new List<Spell>();
    private List<string> tiers = new List<string>();
    private string selectedTier = "All";
    private string searchQuery = string.Empty;
    public string Mode { get; set; } = "Solo";

    protected override async Task OnInitializedAsync()
    {
        tiers = new List<string> { "All", "1", "2", "3", "4", "5", "6" };
        spells = await spellService.GetSpells();
        filteredSpells = spells;
    }

    // Filter the spells based on current filters (search query, mode, and tier)
    private void FilterSpells()
    {
        filteredSpells = spells
            .Where(spell => spell.Name.ToLower().Contains(searchQuery.ToLower())) // Search query
            .Where(spell => selectedTier == "All" || spell.Tier.ToString() == selectedTier) // Tier filtering
            .Where(spell =>
                (Mode == "Solo" && spell.isInSoloMode) ||
                (Mode == "Duos" && spell.isInDuosMode) ||
                (Mode == "Both")) // Mode filtering
            .ToList();
    }

    // Handle search input and re-filter spells
    public void HandleSearchInput(ChangeEventArgs e)
    {
        searchQuery = e.Value.ToString();
        FilterSpells();
    }

    // Handle mode change and re-filter spells
    public void OnModeChange(ChangeEventArgs e)
    {
        Mode = e.Value.ToString();
        FilterSpells();
    }

    // Handle tier click and re-filter spells
    public void HandleTierClick(string tier)
    {
        selectedTier = tier;
        FilterSpells();
    }
}

<style>
    #controls {
        max-width: 32rem;
    }

    #search_spell,
    #mode_filter {
        padding: 0.25rem;
        border-radius: 0.25rem;
    }

    .tier {
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 50%;
        transition: background-color 0.3s;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
    }

    .tier.selected {
        color: white;
        background-color: #b90a0a;
        text-shadow: 0px 0px 10px #ffffff9c;
        box-shadow: 0px 0px 10px #ffffff9c;
    }

    .spells {
        border-radius: 0.5rem;
        box-shadow: inset 1px 4px 7px #00000029;
        padding: 1rem;
        margin: 1rem;
        background-color: #ffffff47;
    }
</style>
