@page "/heroes/{Id:int}"

@using HSBGHelper.Server.Models
@using HSBGHelper.Server.Services;
@using HSBGHelper.Client.Components.Layout;

@inject HeroService heroService;
@inject HeroPowerService heroPowerService;
@inject NavigationManager navigationManager;

@rendermode InteractiveServer

@if (hero == null)
{
    <p>Loading...</p>
}
else
{
    <section>
        <header class="hero">
            @* <BackButton /> *@
            <h2 class="text-3xl">@hero.Name</h2>
            <img src="@hero.Image" alt="@hero.Name" class="mx-auto" />
        </header>
    </section>
    <section id="hero-power">
        <div class="pt-4">
            @* some hero powers cant be scraped fully, keep this conditional *@
            @if (heroPower != null)
            {
                <img id="hero-power-img" src="@heroPower.Image" alt="@heroPower.Name" class="mx-auto" />
                @* <h4 class="text-center text-white">@heroPower.Name</h4> *@
                @* <p>@heroPower.Description</p> *@
            }
            else
            {
                <p>Hero Power not found</p>
            }
        </div>
    </section>
    <section id="hero-buddy">
        <div>
            <h2 class="text-2xl text-center mt-4">Buddy</h2>
            <img src="@hero.buddy.Image" alt="@hero.buddy.Name" class="mx-auto" />
        </div>
    </section>
    <section>
        <div class="container mx-auto px-4 py-4">
            <h2 class="text-2xl mt-4">Guide</h2>
            <hr/>
            @if (hero.HtmlGuide == "") {
                <p class="pt-4">Hero guide is not available but it is coming soon.</p>
            } else {
                @(new MarkupString(hero.HtmlGuide))
            }
        </div>
    </section>
    <section id="youtube-links">
        @* <div class="px-4 py-4 container mx-auto">
            <h3>Youtube Links</h3>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=1">Link 1</a>
                </li>
            </ul>
        </div> *@
    </section>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Hero hero { get; set; }
    private HeroPower heroPower { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hero = await heroService.GetHeroById(Id);

        if (hero == null)
        {
            navigationManager.NavigateTo("/404");
            return;
        }

        if (hero.heroPower != null)
        {
            heroPower = await heroPowerService.GetHeroPowerById(hero.heroPower.Id);

            if (heroPower == null)
            {
                navigationManager.NavigateTo("/404");
            }
        }
    }
}
<style>
    #hero-power {
        margin-top: -1rem;
        background: #4b1717;
    }

    #hero-power-img {
        max-width: 14rem;
        margin: 0 auto;
    }
</style>