@code {
    [Parameter]
    public int Id
    {
        get;
        set;
    }

    [Parameter]
    public string Name
    {
        get;
        set;
    }

    [Parameter]
    public string Image
    {
        get;
        set;
    }
    public bool imageIsLoaded = false;
    public bool ShowModal { get; set; } = false;

    public void ToggleModalClick()
    {
        ShowModal = !ShowModal;
    }
    public async Task handleImageLoad()
    {
        await Task.Delay(500);
        imageIsLoaded = true;
    }
}

<li>
    <a class="buddy-card flex items-center justify-center" @onclick="@ToggleModalClick">
        @if (!imageIsLoaded)
        {
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        }
        <img class="buddy-img @(imageIsLoaded ? "" : "hidden")" src="@Image" alt="@Name"
            @onload="()=> handleImageLoad()" />
    </a>
</li>

@if (ShowModal)
{
    <div id="buddy-modal"
        class="fixed inset-0 bg-gray-900 bg-opacity-75 flex justify-center items-center z-10 backdrop-blur-sm"
        onclick="@ToggleModalClick">
        <div class="max-w-screen-lg w-full relative">
            <div class="flex flex-col items-center">
                <img class="buddy-img" src="@Image" alt="@Name" />
            </div>
            <div class="flex align-center justify-center">
                <a href="/buddies/@Id" class="btn btn-primary">
                    View Buddy Stats
                </a>
            </div>
        </div>
    </div>
}

<style>
    .lds-roller {display: block;}

</style>