@using AntDesign.Icons;
@using HSBGHelper.Client.Components;

@code {
    [Parameter]
    public string TrinketType { get; set; }

    [Parameter]
    public int Id {
        get;
        set;
    }

    [Parameter]
    public string Image
    {
        get; set;
    }

    [Parameter]
    public string Name
    {
        get; set;
    }
    
    [Parameter]
    public string Description { 
        get; 
        set; 
    }

    public bool imageIsLoaded = false;
    public bool ShowModal { get; set; } = false;

    public void ToggleModalClick()
    {
        ShowModal = !ShowModal;
    }

    public async Task handleImageLoad()
    {
        @* e.preventDefault(); *@
        await Task.Delay(500);
        imageIsLoaded = true;
    }
}

<li class="trinket-li">
    <a class="trinket-card" onclick="@ToggleModalClick">
        @if (!imageIsLoaded) {
            <div class="lds-roller mx-auto">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        }
        <img class="trinket-img mx-auto @(imageIsLoaded ? "" : "hidden")" src="@Image" alt="@Name" @onload="()=> handleImageLoad()"/>
        @* <h4 class="trinket-name text-center">@Name</h4> *@
    </a>
</li> 

@if (ShowModal)
{
    <div id="trinket-modal" class="fixed inset-0 bg-gray-900 bg-opacity-75 backdrop-blur-sm flex justify-center items-center z-10"
        onclick="@ToggleModalClick">
        <div class="max-w-screen-lg w-full max-h-screen overflow-auto relative">
            <div class="flex flex-col items-center">
                <img class="modal-trinket-img" src="@Image" alt="@Name" />
                <h4>@Name</h4>
                <p>@Description</p>
                @if (TrinketType == "greater")
                {
                    <a href="/greater-trinket/@Id" class="btn btn-primary mt-4">View Greater Trinket <RightOutlined /></a>
                }
                else
                {
                    <a href="/lesser-trinket/@Id" class="btn btn-primary mt-4">View Lesser Trinket <RightOutlined /></a>
                }
            </div>
        </div>
    </div>
}

<style>
    .trinket-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: inherit;
        transition: transform 0.3s ease;
    }

    .trinket-card:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .trinket-img {
        filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 3px 3px);
    }

    #trinket-modal {
        overflow-y: hidden;
    }

    #trinket-modal h4 {
        color:white;
    }
</style>